<strong>Ola, {{student}}</strong>
<p>Voce foi matriculado, confira os detalhes aabaixo</p>
<p>
    <strong>Plano:</strong>{{plan}}<br/>
    <strong>Data Inicial:</strong>{{start_date}}<br/>
    <strong>Data Final:</strong>{{end_date}}<br/>

     <strong>Preço:</strong>{{price}}<br/>
    <br/>
    <small>
        O horário está novamente disponível para novos agendamentos
    </small>
</p>
